/* --- Starter Styles --- */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 50px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

/* --- TASK 3: Style your Form and .form-group below --- */

.form-group {
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

/* --- TASK 3: Add your :invalid visual validation below --- */

input:invalid {
    
}

/* --- EXTENSIONS: Add your :focus and Success Message styles below --- */
